<form action="/notes/save" method="post">
    <div class="container-fluid">
        {{#if doCreate}}
        <input type="hidden" name="doCreate" value="create" />
        {{else}}
        <input type="hidden" name="doCreate" value="update" />
        {{/if}}
        <div class="form-group row align-items-center">
            <label for="noteKey" class="col-1 col-form-label">Key</label>
            <div class="col">
                {{#if doCreate }} {{!--
                <div class="col">
                    --}}
                    <input type="text" class="form-control" placeholder="note key" name="noteKey" value="" />
                    {{!--
                </div>
                --}} {{else}} {{#if note }}
                <span class="input-group-text">{{noteKey}}</span>
                {{/if}}
                <input type="hidden" name="noteKey" value="{{#if note }}{{noteKey}}{{/if}} " />
                {{/if}}
            </div>
        </div>

        <div class="form-group row">
            <label for="title" class="col-1 col-form-label">Title</label>
            <div class="col">
                <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    placeholder="note title"
                    value="{{#if note }}{{note.title}}{{/if}}"
                />
            </div>
        </div>

        <div class="form-group row">
            <textarea class="form-control" name="body" rows="5">{{#if note }}{{note.body}}{{/if}}</textarea>
        </div>
        <p class="btn-submit">
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </p>
    </div>
</form>
